<div classs="container">
  {{#if courier }}
  <div class="newOrderContainer">
    <div class="form_orders">
      <form id="order" action="/courier" method="POST">
        <br>
        <label>Состав заказа: <input type="text" name="components"></label>
        <label>Исходная цена: <input type="text" name="pricePrimary"></label>
        <button id="addOrder">Добавить</button>
      </form>
    </div>
    <div class="newOrders">
      {{!-- <button id="delOrder" value="{{id}}">Удалить</button>
      <button id="putOrder" value="{{id}}">Изменить</button> --}}
      <div class="orderElement">

      </div>
    </div>
  </div>

  <div class="allOrdersContainer">
    {{#each listOfOrders}}
    <div class="elementOrder">
      <button id="delOrder" value="{{id}}">Удалить</button>
      <button id="putOrder" value="{{id}}">Изменить</button>
      Заказ: {{components}},
      Статус брони: {{statusBooked}},
      Статус продано: {{statusSold}},
      Цена: {{pricePrimary}},
      Цена со скидкой: {{priceDiscount}};
    </div>
    {{/each}}
  </div>
</div>
{{/if}}



<div id="map" style="width: 400px; height: 300px"></div>



{{!-- <form>
  <select name="text" id="text">
    <option>pizza</option>
    <option>sushi</option>
    <option>burger</option>
  </select>
  <button class="addOrder2">add order</button>
</form> --}}
