<div id="list">
  <h1>Hello, {{names}} </p>

    {{#each listOfOrders}}
    <div class='element'>
      
      <div class="components">
        {{components}}
      </div>

      <div class="statusBooked">
        {{statusBooked}}
      </div>

      <div class="adress">
        {{adress}}
      </div>

      <div class="pricePrimary">
        {{pricePrimary}}
      </div>

      <div class="priceDiscount">
        {{priceDiscount}}
      </div>

      <div class="button">
        <button class='buy'></button>
      </div>
    </div>
    {{/each}}

</div>

<script src="/js/customer.js"></script>
