<div id="listGeneral">
{{#if customer}}

  <div class="ordered">
    {{#each orderedList}}
    <div class='element'>
      <div class='hidden'>
        {{number}}
      </div>

      <div class="components">
        {{components}}
      </div>

      <div class="statusBooked">
        {{statusBooked}}
      </div>

      <div class="pricePrimary">
        {{pricePrimary}}
      </div>

      <div class="priceDiscount">
        {{priceDiscount}}
      </div>

      <div class="button cancel">
        <button class='cancel'>Отказаться</button>
      </div>
    </div>
    {{/each}}

  </div>

  <div class="notOrdered">
  {{#each notOrderedList}}
    <div class='element'>
      <div class='hidden'>
        {{number}}
      </div>

      <div class="components">
        {{components}}
      </div>

      <div class="statusBooked">
        {{statusBooked}}
      </div>

      <div class="pricePrimary">
        {{pricePrimary}}
      </div>

      <div class="priceDiscount">
        {{priceDiscount}}
      </div>

      <div class="button buy">
        <button class='buy'>Заказать</button>
      </div>
    </div>
    {{/each}}
  </div>
  
{{/if}}
</div>
