<div>
  <button id="delete {{_id}}" value="{{_id}}">Удалить</button>
  Номер заказа: {{number}}, Заказ: {{components}}, Статус брони: {{statusBooked}},
  Статус продано: {{statusSold}}, Цена: {{pricePrimary}}, Цена со скидкой: {{priceDiscount}},
</div>
